USE [master]
GO
/****** Object:  Database [NHIBERNATE]    Script Date: 05-05-2018 16:56:17 ******/
CREATE DATABASE [NHIBERNATE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHIBERNATE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NHIBERNATE.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NHIBERNATE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NHIBERNATE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHIBERNATE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHIBERNATE]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 05-05-2018 16:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

GO
INSERT [dbo].[Employee] ([ID], [Name], [Location], [Department]) VALUES (1, N'Umender7hghgb', N'LReddy', N'TEst')
GO
INSERT [dbo].[Employee] ([ID], [Name], [Location], [Department]) VALUES (2, N'TInku', N'REddy', N'Hyderabd')
GO
INSERT [dbo].[Employee] ([ID], [Name], [Location], [Department]) VALUES (3, N'Uday', N'Hyderabad', N'test')
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
USE [master]
GO
